@use 'header/header';

$color: rgb(255, 106, 0);
$color2: green;

body {
    background-color: $color;
    font-size: 4rem;
    display: flex;
    gap: 2rem;
}

div {
    display: grid;
    grid-template-columns: 3rem;
}

h1 {
    color: $color2;
}